.view {
    padding: 0.3rem 0.4rem 0.22rem 0.45rem !important;
    font-family: Kanit;
    h2 {
        color: #aa5ce6;
        font-size: 0.18rem;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 0.16rem;
    }
    p {
        color: rgba(255, 255, 255, 0.6);
        font-size: 0.14rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.4;
        position: relative;
        margin-bottom: 0.1rem;
        &::before {
            content: '';
            width: 8px;
            height: 8px;
            border-radius: 2px;
            background: #aa5ce6;
            position: absolute;
            top: 0.05rem;
            left: -0.15rem;
        }
    }
}
