@font-face {
    font-family: 'DINPro';
    src: url('./DINPro-Regular.otf');
}

/* @font-face {
    font-family: 'PingFang TC';
    src: url('./pingfangtc-regular.otf');
} */
@font-face {
    font-family: 'Kanit';
    src: url('./Kanit-Regular.ttf');
}
@font-face {
    font-family: 'YouSheBiaoTiHei';
    src: url('./YouSheBiaoTiHei.ttf');
}
@font-face {
    font-family: 'DS-Digital';
    src: url('./DS-DIGIT.ttf');
}
/* @font-face {
    font-family: 'DFPHaiBaoW12-GB';
    src: url('./DFPHaiBaoW12-GB.ttf');
} */
