.view {
    margin-top: 0.26rem;
    border-radius: 0.3rem;
    background: #131c41;
    position: relative;
    min-height: 3rem;
    padding: 0.46rem 0.16rem 0.25rem;
    header {
        height: 0.4rem;
        width: 1.9rem;
        position: absolute;
        left: 50%;
        top: -0.1rem;
        transform: translateX(-50%);
        background: url('/images/luckWheel/history-title.png') no-repeat;
        background-size: 100% 100%;
        padding-top: 0.06rem;
        text-align: center;
        h5 {
            color: #fff;
            font-family: 'PingFang SC';
            font-size: 16px;
            font-weight: 500;
            line-height: 0.22rem;
        }
        p {
            color: #fff;
            font-family: 'PingFang SC';
            font-size: 0.07rem;
            font-weight: 500;
            line-height: 0.1rem;
        }
    }
    .section {
        margin-top: 0.12rem;
        .item {
            padding: 0.12rem 0.14rem 0.11rem;
            border-radius: 0.16rem;
            border: 1px solid rgba(255, 255, 255, 0.4);
            margin-bottom: 0.09rem;
            &:last-child {
                margin-bottom: 0;
            }
            .line {
                display: flex;
                align-items: center;
                margin-bottom: 0.09rem;
                color: #fff;
                font-family: 'PingFang SC';
                font-weight: 600;
                font-size: 0.12rem;
                line-height: 0.17rem;
                &:last-child {
                    margin-bottom: 0;
                }
                .label {
                    color: rgba(255, 255, 255, 0.6);
                    font-family: 'PingFang SC';
                    font-weight: 400;
                    margin-right: 0.04rem;
                }
                .left {
                    flex: 1.5;
                    display: flex;
                    align-items: center;
                    div {
                        display: flex;
                        align-items: center;
                        img {
                            width: 0.15rem;
                            margin-left: 0.03rem;
                        }
                    }
                }
                .right {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    div {
                        display: flex;
                        align-items: center;
                        &.success {
                            color: #16b17a;
                        }
                        &.fail {
                            color: #da4354;
                        }

                        &.know {
                            color: #ffa143;
                        }
                        img {
                            width: 0.15rem;
                            margin-left: 0.03rem;
                        }
                    }
                }
            }
        }
    }
}
