.view {
    margin-top: 0.12rem;
    .dashboard {
        border-radius: 0.28rem;
        border: 1.5px solid #19246b;
        height: 1.86rem;
        padding: 0.13rem 0 0.1rem;
        .tip {
            display: flex;
            align-items: center;
            padding-left: 0.24rem;
            color: rgba(255, 255, 255, 0.6);
            font-family: 'PingFang SC';
            font-size: 0.13rem;
            font-weight: 400;
            line-height: 0.18rem;
            b {
                color: #fff;
                font-size: 0.18rem;
                font-weight: 600;
                line-height: 0.25rem;
                margin: 0 0.03rem 0 0.06rem;
            }
            span {
                color: #00db00;
                font-weight: 600;
            }
        }
        .kline {
            height: 100%;
            margin-top: -0.06rem;
        }
    }
    .content {
        margin: 0.12rem 0 0.17rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 0.7rem;
        padding: 0 0.26rem;
        border-radius: 0.28rem;
        background: #fff;
        .action {
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 0.12rem;
            border: 2px solid #191a21;
            backdrop-filter: blur(6px);
            color: #191a21;
            text-align: center;
            line-height: 0.32rem;
            font-size: 0.3rem;
            cursor: pointer;
        }
        .text {
            position: relative;
            top: -0.04rem;
            h4 {
                color: #191a21;
                text-align: center;
                font-weight: 600;
                font-size: 0.24rem;
                line-height: 1;
                b {
                    font-size: 0.3rem;
                    margin-right: 0.07rem;
                }
            }
            div {
                display: flex;
                align-items: center;
                color: rgba(25, 26, 33, 0.7);
                font-family: 'PingFang SC';
                font-size: 0.14rem;
                font-weight: 600;
                img {
                    width: 0.14rem;
                }
            }
        }
    }
    button {
        height: 0.56rem;
        width: 100%;
        border-radius: 0.32rem;
        // border: 3px solid rgb(34, 57, 113);
        // background: var(--Linear, linear-gradient(237deg, #5a9ff1 0%, #3452c2 100%));
        background: url('/images/stake/btn-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .rule {
        margin-top: 0.12rem;
        display: flex;
        align-items: center;
        justify-content: end;
        padding-right: 0.06rem;
        img {
            width: 0.14rem;
            margin-right: 0.04rem;
        }
        span {
            color: rgba(255, 255, 255, 0.6);
            font-family: 'PingFang SC';
            font-size: 0.13rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: auto;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
        }
    }
}
